[buildout]
projectid = elevate_cynin
package-name = elevate.cynin.fixes
mountpoint = elevate
sources-dir = ${buildout:directory}/devsrc
develop += ${cyninbase:develop}


[instance]
#eggs -= five.pt>=2.1
eggs +=
    Plone
    Pillow
    lxml
    ${cyninbase:eggs}
    Products.TinyMCE
    collective.autolinks
#    plone.app.blob
#    five.pt<2
zcml +=
    ${cyninbase:zcml}
    Products.TinyMCE
    collective.autolinks

[zeoserver]
#eggs = plone.app.blob

[versions]
#ZODB3 = 3.8.6
#zope.i18n = 3.7.4
