[buildout]
extends =
    base.cfg

parts =
    productdistros
    maildrophost
    zopepy
    i18noverrides
#   pyofc2git
#All new parts must be **above** this line.
    zope2
    zeoserver
    instance
    client1
    chown
    precompile
    allsrc
    backup

eggs-directory = ${buildout:directory}/../buildout-common/eggs-plone3
download-cache = ${buildout:directory}/../buildout-common/downloads
extends-cache = ${buildout:directory}/../buildout-common/extends

[zeoserver]
recipe = plone.recipe.zope2zeoserver
zope2-location = ${zope2:location}
effective-user = zope
zeo-address = 8007
zeo-conf-additional =
    <filestorage elevate_cynin>
        path ${buildout:directory}/var/filestorage/elevate_cynin.fs
    </filestorage>

[instance]
http-address = 8107
effective-user = zope

zeo-client = True
zeo-address = ${zeoserver:zeo-address}
zserver-threads = 2

debug-mode = off
verbose-security = off
deprecation-warnings = off
# security policy implementation set by above statements and should be without
# effect here.
security-policy-implementation = C

zope_i18n_compile_mo_files = true

zope-conf-additional =
    <zodb_db elevate_cynin>
        mount-point /elevate
        cache-size 750
        <zeoclient>
            server ${instance:zeo-address}
            cache-size 50MB
            storage elevate_cynin
            name elevate_cynin_zeostorage
        </zeoclient>
    </zodb_db>
    enable-ms-author-via on
    <webdav-source-server>
        # valid keys are "address" and "force-connection-close"
        address 1980
        force-connection-close off
    </webdav-source-server>
    <clock-server>
        method /cynin/@@tickupdate
        period 60
        host localhost
    </clock-server>


[client1]
recipe = plone.recipe.zope2instance
zope2-location = ${instance:zope2-location}
effective-user = zope
http-address = 8207
user = ${instance:user}
debug-mode = off
verbose-security = off
deprecation-warnings = off
zeo-client = True
zeo-address = ${zeoserver:zeo-address}
zope_i18n_compile_mo_files = true
eggs = ${instance:eggs}
zcml = ${instance:zcml}
products = ${instance:products}
zope-conf-additional = ${instance:zope-conf-additional}


[maildrophost]
PYTHON=/www/plone/bda-naked-python/bin/python24
SMTP_HOST=localhost
SMTP_PORT=25
MAILDROP_TLS=0
MAILDROP_LOGIN=
MAILDROP_PASSWORD=
