[buildout]
extends =
    https://raw.github.com/thet/buildout-base/master/etc/base.cfg
    https://raw.github.com/thet/buildout-base/master/etc/plone3.cfg
    https://raw.github.com/thet/buildout-base/master/etc/zeo2.cfg
    cynin_3_2_2/buildout-configs/cyninbase.cfg
    cynin_3_2_2/buildout-configs/maildrophost.cfg
#    cynin_3_2_2/buildout-configs/i18n-overrides.cfg
#    https://raw.github.com/thet/buildout-base/master/etc/plone-chameleon.cfg
    https://raw.github.com/thet/buildout-base/master/etc/mr.developer.cfg
    https://raw.github.com/thet/buildout-base/master/etc/deploy.cfg
    config.cfg
parts += instance2 instance3 instance4 instance5 instance6 instanceservice varnishcfg

#    cynin_3_2_2/buildout-configs/libxml.cfg
#    cynin_3_2_2/buildout-configs/lxml.cfg
#    cynin_3_2_2/buildout-configs/pil.cfg
#    cynin_3_2_2/buildout-configs/i18n-overrides.cfg
#    cynin_3_2_2/buildout-configs/last.cfg
#    cynin_3_2_2/buildout-configs/backup.cfg


[sources]
elevate.cynin.fixes = git git://github.com/thet/elevate.cynin.fixes.git
collective.autolinks = git git://github.com/collective/collective.autolinks.git

[zeoserver]
effective-user = zope
zeo-address = 127.0.0.1:8100

[instance]
http-address = 127.0.0.1:10001
effective-user = zope
user = admin:admin
environment-vars += PYTHON_EGG_CACHE ${buildout:directory}/var/egg-cache
zope-conf-additional +=
    <clock-server>
        method /cynin/@@tickupdate
        period 60
        host localhost
    </clock-server>
zserver-threads = 1
zeo-client-cache-size = 3000

## TODO
## disable webdav per client or change webdav address!

[instance2]
<= instance
http-address = 127.0.0.1:10002
zope-conf-additional +=
    enable-ms-author-via on
    <webdav-source-server>
        # valid keys are "address" and "force-connection-close"
        address 10010
        force-connection-close off
    </webdav-source-server>

[instance3]
<= instance
http-address = 127.0.0.1:10003

[instance4]
<= instance
http-address = 127.0.0.1:10004

[instance5]
<= instance
http-address = 127.0.0.1:10005

[instance6]
<= instance
http-address = 127.0.0.1:10006

[instanceservice]
<= instance
zserver-threads = 4
http-address = 127.0.0.1:10009

[maildrophost]
PYTHON=/www/plone/bda-naked-python/bin/python24
SMTP_HOST=localhost
SMTP_PORT=25
MAILDROP_TLS=0
MAILDROP_LOGIN=
MAILDROP_PASSWORD=


[varnishcfg]
recipe = plone.recipe.varnish
daemon = /usr/sbin/varnishd
cache-size = 500MB
bind   = 127.0.0.1:6081
telnet = 127.0.0.1:6082
purge-hosts =
    127.0.0.1
backends = 
    /VirtualHostBase/http/cyn.exitspace.org:127.0.0.1:10000
